
h1 {
  color: #333; 
}

p {
  color: #555;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  background-color:hsla(173, 42%, 13%, 1);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd; 
}

#edit {
  padding: 15px;
  background-color: #3498db;
  color: #fff; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#edit:hover {
  background-color: #2980
}
.logo{
  text-align: center;
 

}
.logo img{
  height: 300px;
  width: 250px;
  margin-top: 10px;

}
.joke{
  font-size: 30px;
  margin: 30px;
}
.joke p{
  color:white;
  font-weight: bolder;
}
.joke li{
  padding: 45px;
}
.randomjoke {
  text-align: center;
  font-size: 30px;
}
.heading{
  font-size: 30px;
  text-align: center;
}
.like {
  display: flex;
  padding: 0px;
}
.like button{
  margin:10px;
 

}
.footer{
  font-size: 30px;
  text-align: center;
}
