
h1 {
  color: #333; 
}

p {
  color: #555;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  background-color:hsla(173, 42%, 13%, 1);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd; 
}

#edit {
  padding: 15px;
  background-color: #3498db;
  color: rgb(25, 4, 4); 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#edit:hover {
  background-color: rgba(49, 7, 7, 0.934)
}
.logo{
  text-align: center;
 

}
.logo img{
  height: 300px;
  width: 250px;
  margin-top: 10px;

}
.joke{
  font-size: 30px;
  margin: 30px;
}
.joke p{
  color:white;
  font-weight: bolder;
}
.joke li{
  padding: 45px;
}
.randomjoke {
  text-align: center;
  font-size: 30px;
}
.heading{
  font-size: 30px;
  text-align: center;
}
.like {
  display: flex;
  padding: 0px;
}
.like button{
  margin:10px;
}
.footer{
  font-size: 30px;
  text-align: center;
}
.comment{
  display: flex;
  margin:5px;
}
.comment-textarea{
  height:40px;
  width:300px;

}
.Comment-form{
  margin-left: 30px;
  margin-top: 20px;
}
.comment-container{
  font-size: small;
  height: 15px;
  width: 185px;
  background-color: white;
  color: black;
  margin:5px 0;
  word-break:break-all;

}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:20px;
  padding-left: 10px;
  width: 70%;
  font-family: serif;
  font-size: large;
}
.container img{
  width: 500px;
  height: 300px;
}
#navbar {
  margin-left: 20px;
}
#homepage {
  margin-left: 20px;
}
.ContanctForm {
  max-width: 400px;
  margin: auto;
}

.ContanctForm input,
.ContanctForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.ContanctForm label {
  display: block;
  margin-bottom: 5px;
}

.ContanctForm textarea {
  height: 100px;
}

.ContanctForm button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.ContanctForm button:hover {
  background-color: #45a049;
}
.button-container {
  display: flex;
  gap: 10px; 
}

.like-button {
  font-size: 30px;
  cursor: pointer;
}

.thumbs-up {
  color: black;
}

.thumbs-down {
  color: black;
}
@keyframes sparkles {
  0%, 100%{
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.sparkles-animation {
  animation: sparkles 3s ease-in-out;
}
.socials {
  position: fixed;
  bottom: 0;
  background-color: #333;
  height: 100px;
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.socials-links {
  width: 40px;
  height: 40px;
}
